.list-square {
    position: absolute;
    /* background-color: rgb(240, 147, 33); */
    height: 500px;
    width: 250px;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    border-style: solid;
}
.list-title {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
}
.add-task{
    position: absolute;
    bottom: 25px;
}
.button{
    margin-left: 20px;
    padding: 10px;
    border:1px solid #363636;
    background-color:#f4f5f6;
    border-radius: 10px;
    box-shadow:  -3px -10px 17px #ffffff, 
    -3px -5px 7.5px #ffffff, 
    -10px 0px 15px #ffffff, 
    3px 5px 7.5px rgba(0,0,0,0.2);
    cursor:pointer;
    color: #888888;
}
.button:hover{
    margin-bottom: -5px;
    background-color:#888888;
    border-radius: 10px;
    cursor:pointer;
}
