@font-face{
    font-family: 'Gilroy-ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.ttf');
}
@font-face{
    font-family: 'Gilroy-Light';
    src: url('../fonts/Gilroy-Light.ttf');
}

/* font-family: 'Gilroy-ExtraBold' , Verdana, Arial;
font-family: 'Gilroy-Light', Fallback, sans-serif; */

.box-task{
    font-family: 'Gilroy-Light', Fallback, sans-serif;
    font-size: 15px;
    padding: 5px;
    border: 1px solid rgb(207, 207, 207);
    height: 20px;
    width: 300px;
}